.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #009879;
  font-size: 18px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}
